<% if current_user.admin? %>
  <%= render 'verification_form' %>
<% else %>
  <h1>I miei tickets</h1>

  <%= form_tag new_virtual_ticket_path, method: :get, class: 'request' do %>
    <%= button_tag 'Richiedi', class: 'btn btn-info btn-lg' %>
  <% end %>

  <table>
    <thead>
      <tr>
        <td>Acquistato</td>
        <td>Scaduto o valido fino alle</td>
      </tr>
    </thead>

    <tbody>
      <% current_user.virtual_tickets.order(created_at: :desc).limit(7).each do |t| %>
        <tr>
          <td>
            <%= content_tag :span, t.created_at.strftime('%H:%M') %>
            <%= content_tag :span, t.created_at.strftime('%d/%m/%Y'), class: 'day' %>
          </td>
          <td><%= t.expired? ? 'Scaduto' : t.valid_until.strftime('%H:%M') %></td>
          <td><%= link_to 'Visualizza', virtual_ticket_path(t) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to "Log out",
  destroy_user_session_path,
  method: :delete,
  class: 'btn btn-danger btn-lg btn-block',
  id: 'sign-out'
%>
